.home {

  &__title {
    margin: 15px 0;
  }
}

.searchForm {

  &__input {
    margin-right: 30px;
  }

}

.car-list {
  gap: 40px;

}

@media (max-width: 600px) {
  .searchForm {
    &__input, &__search {
      margin: 0;
      width: 100%;
    }
  }
  .home__title {
    text-align: center;
  }
}
