<div class="cardCar">
  <h3 class="text-bold cardCard__title1">{{car.marca}}</h3>
  <h4 class="cardCard__title2">{{car.modelo}}</h4>
  <img
    class="cardCar__img"
    [src]="car.urlImg+'.png'"
    >

  <ul class="cardCar__description">
    <li><span class="text-bold">Ano: </span><span class="text-color-700">{{car.ano}}</span></li>
    <li><span class="text-bold">Chassi: </span><span class="text-color-700">{{car.placa}}</span></li>
    <li><span class="text-bold">Renavam: </span><span class="text-color-700">{{car.chassi}}</span></li>
    <li><span class="text-bold">Ano: </span><span class="text-color-700">{{car.renavam}}</span></li>
  </ul>
  </div>
