/* You can add global styles to this file, and also import other style files */
$c-primary: #FBBB00;
$c-segundary: #212529;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.bg-primary{
  background-color: $c-primary;
}

.text-bold {
  font-weight: bold!important;
}

.d-flex {
  display: flex;
}

.d-justify-content {
  justify-content: center;

  &--center {
    justify-content: center;
  }
  &--space-around {
    justify-content: space-around;
  }
  &--space-between {
    justify-content: space-between;
  }
}

.d-align-items {
  align-items: center;
}

.d-flex-wrap {
  flex-wrap: wrap;
}



